# secrets
.env
appsettings.json
*.Local.json
src/TransactionAggregationAPI/appsettings.Local.json

# Binary files
*.exe
*.dll

# Logs
logs/

# Build artifacts
/bin
/obj
**/bin/
**/obj/

# IDE files
.idea/
.vscode/

# File system specific
.DS_Store
Thumbs.db
*.rpt

# Log files
*.log

# Package restore
**/packages/
**/.nuget/

# Entity Framework
EntityFramework/classes.tt

# Specific to .NET
.ReSharper*/

# Visual Studio Code
.vscode/

# Git
.git/
.idea/.idea.TransactionAggregationAPI/.idea/
